body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border-width : 0
}

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 98vh;
  margin: 1vmin;
  border-width : 0
}

.bigcontainer {
  background-color: #2b2e37;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 96vh;
  width: 96vw;
  margin: 1vmin;
  border-width : 0
}

.upperc {
  height: 6vh;
  width: 96vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-width : 0
}

@media (max-aspect-ratio: 3/4) {
  .lowerc {
      height: 90vh;
      width: 96vw;
      margin: 0 0 0 0;
      display: flex;
      flex-direction: column;
      border-width : 0
  }
  .imagediv {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      border-width : 0
  }
}

@media (min-aspect-ratio: 3/4) {
  .lowerc {
      height: 90vh;
      width: 96vw;
      margin: 0 0 0 0;
      display: flex;
      flex-direction: row;
      border-width : 0
  }
  .imagediv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      border-width : 0
  }
}

.image {
  width:35vmax;
  height:35vmax;
  border-width : 0
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width : 0
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width : 0
}

h4{
  margin: 0;
  text-align: center;
  background: linear-gradient(to right,red,orange,green,blue,indigo,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: system-ui;
  font-size: 4vmin;
  border-width : 0
  /* visibility: visible; */
}

/*
section {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 -8px;
}

.noselect {
  float: right;
  position: absolute;
  left: 88%;
  top: 3%;
	color: darkblue;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #6dd6d1;
	border: none;
	border-radius: 10px;
	font-family: 'Damion', cursive;
	color: white;
	font-size: 20px;
	transition: 500ms;
}

button:hover {
		border: 2px solid #6dd6d1;
	animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
	to {filter: hue-rotate(360deg);}
}

button:focus {
	outline: none;
}

.divider {
  width: 0px;
  margin: 5px;
  background: yellow;
}

.module {
  background: hsl(204 100% 5%);
  font-family: system-ui;
  font-size: min(200%, 5vmin);
  margin-top: 10px;
  margin-bottom: 10px;
}

.image {
  height: 100%; 
  width: 100%; 
  max-width:100%; 
  max-height:100%;
}

.innerdivleft {
  margin-top: 5px; 
  margin-left: 15px; 
  margin-right: 3px; 
  border: solid white; 
  height: 97%; 
  width: 50%;
}

.innerdivright {
  margin-top: 5px; 
  margin-left: 3px; 
  margin-right: 15px; 
  border: solid white; 
  height: 97%; 
  width: 50%;
}

h4{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="file"] {
    display: none;
}
*/

.button-67 {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #434752;
  color: skyblue;

  width: 99px;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 14px;
  padding: 2px 5px 2px 5px;

  white-space: pre;
}

.button-67:hover {
  background: lime;
  color: darkblue;
} 